<div class="card" style="margin-left: 40%">
  <div class="flex flex-column md:flex-row">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">

          <label for="name">User Name</label>
          <input pInputText id="name" formControlName="name" />
         
        </div>
        <div>
          <label for="email">Email</label>
          <input pInputText id="email" formControlName="email" />
        </div>
        <div>
          <label for="phone">Phone</label>
          <p-inputNumber id="phone" formControlName="phone" />
        </div>
        <div>
          <label for="password">Password</label>
          <p-password id="password" formControlName="password"></p-password>
          <small *ngIf="submited&& existingUser">Existing password.</small>
        </div>
        <p-button type="submit" severity="info" [disabled]="!registerForm.valid">Register</p-button>
      </div>
    </form>
  </div>
</div>
