<!-- <ng-template pTemplate="content"> -->
<!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.image"
    class="block m-auto pb-3" *ngIf="donor.image" /> -->
   
<div class="field">
    <label for="name" req>Name</label>
    <input type="text" pInputText id="name" name="name" [(ngModel)]="donor.name" required autofocus />

    <small class="p-error" *ngIf="submitted && !donor.name">
        Name is required.
    </small>
</div>

<div class="field">

    <div class="formgrid grid">
        <div class="field col">
            <label for="price">Phone</label>
            <p-inputNumber id="price" [(ngModel)]="donor.phone" mode="currency" currency="USD" locale="en-US" />
        </div>
        <small class="p-error" *ngIf="submitted && !donor.phone">
            Phone is required.
        </small>
        <div class="field col">
            <label for="quantity">Email</label>
            <input type="email" id="quantity" [(ngModel)]="donor.email" />
        </div>
        <small class="p-error" *ngIf="submitted && !donor.email">
            Email is required.
        </small>

        <!-- </ng-template> -->

        <!-- <ng-template pTemplate="footer"> -->
        <p-button label="Cancel" icon="pi pi-times" [text]="true" (onClick)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" [text]="true" (onClick)="saveDonor()" />
        <!-- </ng-template> -->